html, body{
  margin: 0px;
}

#body-container {
  margin: 0px auto;
  margin-top: 60px;
  width: 40%;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: #495363;
  margin: auto;
}

#header{
  font-size: 40px;
  margin: auto;
}

#header-img{
  margin: 0px auto;
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}

#header-container {
  margin: 0px auto;
  width: 50%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  padding: 60px 0px 40px 60px;
  color: #1c1c1c;
  display: flex;
}

#greeting-container {
  margin-top: 20px;
}

img{
    max-height: 500px;
}
