/**
 ** Global
 **/

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0px;
}

a {
  color: #328753;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/**
 ** Header
 **/

#nav-links{
  align-items: center;
  display: flex;
  padding: 50px 10px 50px 10px;
}

.nav-link {
  color: #328753;
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}

#header {
  font-size: 40px;
  flex: 1 1 100px;
  flex-shrink: 3;
  margin: 10px;
  text-align: center;
}

#header-img {
  border-radius: 50%;
  margin: 0px auto;
  max-height: 150px;
  max-width: 150px;
  margin: 20px;
}

#header-container {
  align-items: center;
  color: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  justify-content: center;
  margin: 0px auto;
  padding: 40px 0px 0px 0px;
  width: 60%;
}

/**
 ** Body
 **/

#body-container {
  margin: 0px auto;
  margin-top: 30px;
  width: 100%;
}

/**
 ** Preview boxes
 **/

/* The text above a preview box */
.preview-title {
  color: #313131;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  font-weight: 600;
  margin: 50px 0px 0px 15%;
}

/* The container that constitutes a preview box */
 .preview-container {
  border-radius: 10px;
  box-shadow: 0px 0px 48px -6px rgba(186,186,186,0.7);
  -moz-box-shadow: 0px 0px 48px -6px rgba(186,186,186,0.7);
  -webkit-box-shadow: 0px 0px 48px -6px rgba(186,186,186,0.7);
  margin: 20px auto;
  padding: 30px;
  width: 70%;
}

/* Smaller titles within a preview box */
.preview-subtitle {
  color: #3c5e49;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 25px 15px 0px;
  text-align: right;
}

/* A normal paragraph in a preview box */
.preview-paragraph {
  color: #1c1c1c;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/* The description to the left 
   of an image in a preview box */
.preview-img-description {
  margin: 0px 25px 0px 0px;
  text-align: right;
  line-height: 20px;
}

/* The container for all text to the 
   left of an image in a preview box */
.preview-img-text {
  min-width: 300px;
}

/* The image in a preview box */
.preview-img {
  margin: 0px;
  max-width: 400px;
}

/* The top-level container for a
   text-image combo block */
.preview-img-w-text{
  align-content: stretch;
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* Adjustments for large screens (>1700px)*/
@media only screen and (min-width: 1700px) {
  .preview-title {
    margin: 50px 0px 0px 30%;
  }
  
  .preview-container {
    width: 40%;
  }
  
  #header-container {
    width: 40%;
  }
}
